.nav1{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 50;
    background-color: rgb(30, 48, 71); 
    color: #e5e5e5; 
}
  
.nav2 {
    display: flex;
    height: 4rem; 
    align-items: center; 
    justify-content: space-between; 
}
.nav3{
    display: flex;
    align-items: center;
}
.logo img{
    padding: 1rem;
    width: 7rem;
    margin-right: 1rem;
}
.nav-items {
    display: flex;
    gap: 1rem; 
}
.shop-link {
    color: #fefeff; 
    text-decoration: none;
    padding: 0.5rem 1rem; 
}
.nav-button:hover {
    background-color: #215377;
    transform: scale(1.05); 
}
.nav-button {
    background-color: rgb(30, 48, 71);
    color: #ffffff;
    border: none;
    border-radius: 0.25rem; 
    padding: 0.5rem 1rem; 
    cursor: pointer; 
    font-size: 1rem; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
} 
.icon{
    display: flex;
    align-items: center;
    padding-right: 3rem;
}
.profile{
    position: relative;
    display: flex; 
    align-items: center; 
    margin-left: 1rem;
}
.profile span{
    font-weight: bold;
    font-size: 1.125rem;
}
.profile button img{
    height: 3rem;
    width: 3rem;
}