.position {
    padding: 1.25rem; 
}
  
  /* Responsive padding for large screens */
  @media (min-width: 1024px) {
    .position {
      padding-left: 5rem; 
      padding-right: 5rem; 
      padding-top: 2.5rem; 
      padding-bottom: 2.5rem;
    }
}
.font {
  font-weight: 600;   
  font-size: 1.5rem;  
  opacity: 0.75; 
  padding-top: 1.25rem;  
  padding-bottom: 1.25rem;
}
.flex-container{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}